*{
    margin: 0px;
    padding: 0px;
    background-color: #111111;
    font-family: "Nunito", sans-serif;
}
 .container {
    margin-left: 5%;
    margin-right: 5%;
  } 

/* Navigation section */
#nav-menu {
    overflow: hidden;
    position: sticky;
    top: 0;
    /* border: 1px solid red; */
}
#nav-menu>.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#nav-heading>h1 {
    font-size: 38px;
    font-family: "Nunito", sans-serif;
    color: #fff;
}
#nav-links>ul>li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}
#nav-links>ul>li>a {
    font-size: 20px;
    color: #fff;
    font-family: "Nunito", sans-serif;
}
/* Button Hover Effect */
#nav-links>ul>li>a::before{
   content: '';
   position: absolute;
   bottom: -6px;
   left: 0;
   width: 0%;
   height: 3px;
   background-color: #f9ca24;
   transition: all .5s;
}
#nav-links>ul>li>a:hover::before{
    width: 100%;
}
/* Styles for hamburger icon */
.hamburger{
    display: none;
    cursor: pointer;
  }
  
  .bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background-color: white;
  }
@media screen and (max-width: 1000px) {
    .hamburger{
        display: block;
      }
    
      .hamburger.active .bar:nth-child(2){
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
      }
    
      .nav-menu{
        position: fixed;
        left: -100%;
        top: 50px;
        gap: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    background-color: #111111;
        width: 100%;
        height: 50vh;
        text-align: center;
        transition: 0.3s;
      }
    
      .nav-item{
        margin: 16px 0;
      }
    
      .nav-menu.active{
        left: 0;
      }
  }
/* Home section */

 #home>.container {
    height:100vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home>.container>*{
    color: #fff;
}
#home>.container>:nth-child(1){
    font-size: 2.5rem;
}
#home>.container>:nth-child(2){
    font-size: 5rem;
}
#home>.container>:nth-child(2)>span{
    color:#f9ca24;
}
#home>.container>:nth-child(5){
    text-align: center;
    font-size: 1.5rem;
}
#home>.container>:nth-child(6){
    margin-top: 10px;
}
#home>.container>:nth-child(6)>li{
    display: inline;
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.5rem;
}
#resume-button-2 {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: #fff;
    border-color:#f9ca24;
    border-radius: 20px;
}
#resume-button-2>a{
    color: #fff;
    font-size: 1rem;
}
#auto-type {
    color: white;
    font-size: 2.5rem;
}
/* About me */
#about>.container {
    height: 100vh;
    /* border: 1px solid red; */
}
#about>.container>h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
#about>.container>h2>span{
    color: #f9ca24;
}
.line {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: #ffffff; /* Set the color of the line */
}
#about-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
#about-content>:nth-child(1){
    border-radius: 20px;
}
#about-content>:nth-child(1)>img{
    width: 380px;
    height: 500px;
    
}
.round-image {
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70% ; /* Set border-radius to 50% to make the image round */
}

#about-content>:nth-child(2)>p{
    color: #fff;
    font-size: 1.5rem;
}
/* Skills */
#skills>.container>h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
#skills>.container>h2>span{
    color: #f9ca24;
}
.line {
    border: none; /* Remove default border */
    height: 1px; /* Set the height of the line */
    background-color: #ffffff; /* Set the color of the line */
}
#skills {
    height:auto;
    /* border: 1px solid red; */
}
#tech-skills {
    text-align: center;
}
#skills-container {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    /* grid-template-columns: repeat(6,1fr); */
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 50px;
    justify-content: center; 
    align-items: center;
}
.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:15px;
    justify-content: center;
    border: 1px solid #f9ca24;
    border-radius: 20px;
}
.skills-icon {
    color: #ffffff;
    font-size: 70px;
}
.skills-card-name {
    color: white;
    font-size: 1rem;
}

/* Projects */
#projects>.container>h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
#projects>.container>h2>span{
    color: #f9ca24;
}
#projects {
    height: auto;
    /* border: 1px solid red; */
}
#my-projects {
    text-align: center;
}
.project-card{
    border: 1px solid #f9ca24;;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
#project-img {
  margin: 20px;
  /* width: 45%;
  height: auto; */
  max-width: 100%;
  height: auto;
}
#danish{
    max-width: 100%;
  height: auto;
  object-fit: cover;
}
.project-img {
    height: 250px;
    width: 500px;
    border-radius: 20px;

}
#project-disc {
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 45%;
    height: auto;
}
#project-disc>:nth-child(1){
    color: #f9ca24;
    text-align: center;
}
#project-disc>:nth-child(2){
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
#project-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
#project-btn>button {
    border: 1px solid #f9ca24;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    color: #fff;
    margin-left: 10px;
}
.project-icon{
    color: #fff;
    font-size: 40px;
    margin-left: 10px;
}
#project-disc>:nth-child(3){
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Git stat's */
#github-calendar{
    margin-bottom: 20px;
   
}
.calendar{
    height: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    border:1px solid #f9ca24;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendar>:nth-child(1) {
    width: 90%;
    height: auto;
}
#github-second-cal{
    margin-top: 10px;
    display: flex;
    gap: 15px;
}
#github-second-cal>:nth-child(1) {
    width: 50%;
    height: auto;
}
.github-second-cal>:nth-child(2) {
    width: 50%;
    height: auto;
}
#github-calendar>.container>h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
#github-calendar>.container>h2>span{
    color: #f9ca24;
}

/* Contact me */
#contact {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}
#contact-me {
    text-align: center;
}
#contact>.container{
    /* border: 1px solid green; */
}
#contact>.container>h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
#contact>.container>h2>span{
    color: #f9ca24;
}
#formcontact{
    width: 90%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:auto;
    margin-top: 20px;
}
#contact-info{
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
#contact-info>p {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
#contact-info>h1 {
    font-size: 2rem;
    color: white;
    margin-bottom: 20px;
}
form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  textarea {
    resize: vertical;
  }
  
  #form-btn {
    padding: 10px;
    margin: 10px;
    color: #fff;
    border-color:#f9ca24;
    border-radius: 20px;
    display: block;
    font-size: 16px;
    cursor: pointer;
  }
 
a {
    text-decoration: none;
    color: #ffffff;
}
/* footer */
#footer>.container{
    margin-top: 20px;
}
  #footer {
    text-align: center;
    color: #f9ca24;
    font-size: 25px;
  }
  .fa-heart{
    color: red;
  }
/* Media */
@media screen and (max-width: 1200px) {
    .project-card {
      flex-direction: column;
    }
    #project-disc {
        display: flex;
        flex-direction: column;
        height: 20px;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }
    #project-img {
        margin: 20px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      #about>.container{
        height: auto;
      }
  }

  @media screen and (max-width: 744px){
    #formcontact {
        flex-direction: column;
        text-align: center;
    }
  }
  
  @media screen and (max-width: 744px){
#about-content {
    flex-direction: column;
    text-align: center;
}
  }
  @media screen and (max-width: 722px) {
    #home>.container>:nth-child(2){
        font-size: 4rem;
    }
  }
  @media screen and (max-width: 572px) {
    #home>.container>:nth-child(2){
        font-size: 3rem;
    }
  }
  @media screen and (max-width: 1066px) {
   #github-second-cal {
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
  }

  /* CSS code to change scrollbar color */
/* Works for WebKit-based browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 13px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #000000; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #f9ca24; /* Color of the thumb */
  border-radius: 6px; /* Roundness of the thumb */
}

